*{
    margin: 0;
    padding: 0;
}
.cabecalho{background-color: rgb(56, 56, 56);
color: rgb(255, 255, 255);
display:flex;
justify-content:space-evenly;
padding: 30px 30px;}
.cabecalho-imagem
{
    width:11%;
    height: 20%;
}
li
    {display:inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;}
h1
    {display:inline-block;
    margin: 0 210px;
    padding: 80px 0;
    font-size: 30px;}

.escola-titulo
{
    display:inline-block;
    margin: 2px 2px;
    padding: 10px 0;
    font-size: 30px;
}

.estudante-titulo
 {text-align:center;}
p
{
    margin: 7px 30px;
    padding: 4px 20px;
    font-size: 24px;
}
.escola-imagem{
    width: 13%;
}
.escola
{   background-image: linear-gradient(rgb(56, 56, 56),rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 30px 0;}

 .escola-conteudo
 { width:70%}

 .aluno-um
 { width: 80%;
height: 250px;}

 .estudante-icone 
 { width: 80px;}

 .estudante-div
 {text-align:center;
    display:inline-block;}

.estudante-todos
{ text-align: center;}

 .estudante-todos{display:grid;
grid-template-columns: 25% 25% 25% 25%;}