*{margin: 38;
padding: 0;}
.cabecalho{background-color: rgb(150, 145, 145);
color: rgb(0, 0, 0);
display:flex;
justify-content:space-evenly;}
.cabecalho-imagem{width:11%;}
.cabecalho-lista-itens{
    display:inline-block;
    margin: 0 16px;
}