*{
    margin: 0;
    padding: 0;
}
.cabecalho{background-color: rgb(44, 44, 44);
color: rgb(255, 255, 255);
display:flex;
justify-content:space-evenly;
padding: 16px 0;}
.cabecalho-imagem
{
    width:10%;
    height: 20%;
}
li
    {display:inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;}
h1
    {display:inline-block;
    margin: 0 210px;
    padding: 80px 0;
    font-size: 30px;}
h2{
    display:inline-block;
    margin: 1px 2px;
    padding: 10px 0;
    font-size: 30px;
}
p
{
    font-size:18px;
}
.escola-imagem{
    width: 40%;
}
.escola {
    background-image: linear-gradient(rgb(42, 42, 42), rgb(143, 143, 143));
    color: rgb(255, 255, 255);
    display:flex;
justify-content: center;
align-items:flex-start;
padding: 24px 0;
}